@font-face {
   font-family: 'AlHurra Font Bold';
   font-display: swap;
   src: url('file:///C:/Users/movie/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-01-02_210456/fonts/AlHurra%20Font%20Bold/font.ttf');
}
