@font-face {
   font-family: 'ElMessiri-Bold';
   font-display: swap;
   src: url('file:///C:/Users/movie/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-01-02_210456/fonts/ElMessiri-Bold/font.ttf');
}
